@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply !bg-background;
  }
}

.container {
  @apply block mx-auto max-w-[1200px] p-3;
}

.pills {
  @apply rounded-md;
}

.shadow-main {
  @apply shadow-md border;
}

.my-card {
  @apply shadow-md rounded-md p-3;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root {
  --c-yellow-light: #f7d336;
  --c-green-light: #8ae99c;
  --c-green: #52ce63;
  --offset-top: 80px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: red;
  }
}
